<main>
  <a [routerLink]="['/']">
    <header class="brand-name">
      <img class="brand-logo" src="/assets/home-logo.png" alt="logo" aria-hidden="true">
      <!-- <img [src]="imageUrl"> -->

    </header>
  </a>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
 

  <div class="threeDots">
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <app-birthday></app-birthday>
  <app-rxjs></app-rxjs>
  <app-footer></app-footer>
</main>