<section>
    <form class="form1">
        <input type="text" class="filter-text" placeholder="Filter by city" #filter>
        <button class="search-btn" type="button" (click)="filterResults(filter.value)">Search</button>
        <button (click)="handleOnclick($event)" style="margin: 10px; padding:10px; background-color: blue;"></button>
        <button (click)="handleOnSubmit($event)">console</button>
    </form>
    <section class="results">
        <app-housing-location *ngFor="let housingLocation of filteredLocationList" [housingLocation]="housingLocation"></app-housing-location>
    </section>
</section>